<div class="container-fluid row">
  <div class="sidebar col-lg-3 col-xs-12">
    <h4><a href="#/journeys/{{journey.id}}">Back</a></h4>
    <h4 class="cell-header">Notes:</h4>
    <ul class="note-list">
      <li ng-repeat="note in notes" id="id{{note.id}}" class="cell-list">
        <a href="">{{note.title}}</a>
        <button ng-click="deleteNote(note)" value="-">
      </li>
    </ul>
    <h4 ng-click="displayForm()" class="form-header">New Note</h4>
    <div class="form-container-journey">
      <form ng-show="showForm" ng-submit="createNote()">
        <h2 class="form-header">New Note</h2>
        <!-- <h5>Title</h5> -->
        <input class="col-xs-12" type="text" ng-model="note.title" placeholder="Title"><br>
        <!-- <h5>Synopsis</h5> -->
        <textarea class="col-xs-12" ng-model="note.synopsis" placeholder="Explain how you understand it"></textarea><br>
        <!-- <h5>Code</h5> -->
        <textarea class="col-xs-12 visible-lg" ng-model="note.code" placeholder="Code here"></textarea><br>
        <span class="check col-xs-12"><p>public? </p><input type="checkbox" ng-model="note.public_bool"></span>
        <input class="col-xs-12" type="submit" value="Save Note">
      </form>
    </div>
  </div>


<div class="contaasdfiner">
  <h2 class="page-header col-lg-8 visible-lg">Notes in {{journey.title}} / {{category.title}}</h2>
  <div class="notes">
    <div ng-repeat="note in notes" id="{{note.id}}">
      <h3>Title: {{note.title}}</h3>
      <p>Synopsis: {{note.synopsis}}</p>
      <p>Code: </p>
      <pre ng-bind-html="to_trusted((note.code|pretty))"></pre>
      <p>Snippets</p>

        <button ng-click="showSnipForm(note)" value="Add Snip">
        <div ng-show="visibleSnipForm[{{note.id}}]"   class="snipForm">
          <form ng-submit="saveSnip()">
            <p>Snip Url:</p>
            <p>
              <input type="text" ng-model="snip.web_url"></p>
            <p>Snip Content</p>
            <p>
              <textarea ng-model="snip.text" placeholder="copy and paste your snip here"></textarea>
            </p>
            <p>Snip description</p>
            <p>
              <input type="text" ng-model="snip.description">
            </p>
            <p>
              <input type="submit" value="Save snip">
            </p>
          </form>
        </div>

      </div>
    </div>


  </div>
</div>