<div class="container-fluid row">
  <div class="sidebar col-lg-3 col-xs-12">
    <h4><a href="#/journeys/{{journey.id}}">Back</a></h4>
    <h4 class="cell-header">Notes:</h4>
    <ul class="note-list">
      <li ng-repeat="note in notes" id="id{{note.id}}" class="cell-list">
        <a href="">{{note.title}}</a>
        <button ng-click="deleteNote(note)">-</button>
      </li>
    </ul>
    <h4 ng-click="displayForm()" class="form-header">New Note</h4>
    <div class="form-container-journey">
      <form ng-show="showForm" ng-submit="createNote()">
        <h2 class="form-header">New Note</h2>
        <!-- <h5>Title</h5> -->
        <input class="col-xs-12" type="text" ng-model="note.title" placeholder="Title"><br>
        <!-- <h5>Synopsis</h5> -->
        <textarea class="col-xs-12" ng-model="note.synopsis" placeholder="Explain how you understand it"></textarea><br>
        <!-- <h5>Code</h5> -->
        <textarea class="col-xs-12 visible-lg" ng-model="note.code" placeholder="Code here"></textarea><br>
        <span class="check col-xs-12"><p>public? </p><input type="checkbox" ng-model="note.public_bool"></span>
        <input class="col-xs-12" type="submit" value="Save Note">
      </form>
    </div>
  </div>


<div class="contaasdfiner">
  <h2 class="page-header col-lg-8 visible-lg">Notes in {{journey.title}} / {{category.title}}</h2>
  <div class="notes">
    <div ng-repeat="note in notes" id="{{note.id}}">

      <div ng-hide="editNoteFlag[{{note.id}}]" id="show-note-{{ note.id }}">
        <h3>Title: {{note.title}}</h3>
        <p>Synopsis: {{note.synopsis}}</p>
        <p>Code: </p>
        <pre ng-bind-html="to_trusted((note.code|pretty))"></pre>
        <button ng-click="showNoteForm(note)">Edit Note</button>
      </div>

      <div ng-show="editNoteFlag[{{note.id}}]" id="edit-note-{{ note.id }}">
        <form ng-submit="editNote(note)">
              <p>Title: </p>
              <p>
                <input type="text" ng-model="editingNote.title">
              </p>
              <p>Synopsis: </p>
              <p>
                <textarea ng-model="editingNote.synopsis"></textarea>
              </p>
              <p>Code: </p>
              <p>
                <textarea ng-model="editingNote.code"></textarea></p>
              <p>
                <input type="submit" value="Save Note Edits">
              </p>
            </form>
      </div>



      <p>Snippets</p>
        <div class="show-snippets">
          <div class="single-snippet" ng-repeat="snippet in note.snippets">
            <div class="single-snippet-content" ng-show="!toggle">
              <p>Description:</p>
              <p>{{snippet.description}}</p>
              <p>Text:</p>
              <p>{{snippet.text}}</p>
              <p>URL:</p>
              <p>{{snippet.web_url}}</p>
              <button ng-click="toggle = !toggle">Edit Snippet</button>
            </div>
            <div class="single-snippet-edit-form" ng-show="toggle">
              <form ng-submit="saveSnipEdit(note, snippet)">
                <p>Snippet description</p>
                <p>
                  <input type="text" ng-model="snippet.description">
                </p>
                <p>Snippet Content</p>
                <p>
                  <textarea ng-model="snippet.text" placeholder="copy and paste your snippet here"></textarea>
                </p>
                <p>Snippet Url:</p>
                <p>
                  <input type="text" ng-model="snippet.web_url"></p>
                <p>
                  <input type="submit" value="Save snippet" ng-click="toggle = !toggle">
                </p>
              </form>
            </div>
          </div>

          <button ng-click="showSnipForm(note)">Add Snippet</button>
          <div ng-show="visibleSnipForm[{{note.id}}]"   class="snipForm">
            <form ng-submit="saveSnip(note)">
              <p>Snippet description</p>
              <p>
                <input type="text" ng-model="snippet.description">
              </p>
              <p>Snippet Content</p>
              <p>
                <textarea ng-model="snippet.text" placeholder="copy and paste your snippet here"></textarea>
              </p>
              <p>Snippet Url:</p>
              <p>
                <input type="text" ng-model="snippet.web_url"></p>
              <p>
                <input type="submit" value="Save snippet">
              </p>
            </form>
          </div>
        </div>
        <!-- end of note repeat -->
        <div class="unassigned-snippets-container">
          <hr>
          <h4>Unassigned Snippets:</h4>
          <div class="single-unassigned-snippet" ng-repeat="snippet in unassignedSnippets">
            <p>{{snippet.text | limitTo:140}}...
              <span>
                <button ng-click="addToNote(note, snippet)">Add to Note</button>
              </span>
            </p>
          </div>
          <hr>
        </div>

      </div>


    </div>


  </div>
</div>