<div class="container-fluid row">
  <nav class="sidebar col-lg-3 visible-lg" id="sidebar-scroll" >
    <div class="sidebar-header-container">

      <div class="sidebar-header-container col-xs-12" z-index='-20'>
        <h4 class="col-xs-1 back-button"><a href="#/journeys/{{journey.id}}">Back</a></h4>
        <h1 class="cell-header">Notes:</h1>
      </div>

    </div>

    <ul class="note-list">
      <li ng-repeat="note in notes" id="id{{note.id}}" class="cell-list" ng-show="display(note)" du-scrollspy="note-{{note.id}}">
        <a du-smooth-scroll="note-{{note.id}}" data-toggle="tooltip" title="jump to {{note.title}}">{{note.title}}</a>
        <button class="delete-button" ng-click="deleteNote(note)" ng-show="isOwner">
        <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
      </li>
    </ul>

    <h4 ng-click="displayForm()" class="cell-list col-xs-12 cat-new-button" ng-show="isOwner" ng-class="{active: form-show}"> New Note</h4>
    <div class="form-container-journey">
      <form ng-show="showForm" class="animate-show" ng-submit="createNote()">
        <h2 class="form-header">New Note</h2>
        <!-- <h5>Title</h5> -->
        <input class="col-xs-12" type="text" ng-model="note.title" placeholder="Title"><br>
        <!-- <h5>Synopsis</h5> -->
        <textarea class="col-xs-12" ng-model="note.synopsis" placeholder="Explain how you understand it"></textarea><br>
        <!-- <h5>Code</h5> -->
        <div class="col-xs-12 visible-lg" ng-model="note.code" placeholder="Code here" ui-ace="{theme:'tomorrow_night_bright', useWrapMode:'true', mode: 'ruby'}"></div><br>
        <span class="check col-xs-12">
          <p>public? </p><input type="checkbox" ng-model="note.public_bool">
        </span>
        <input class="col-xs-12" type="submit" value="Save Note">
      </form>
    </div>
    </nav> <!-- End of sidebar -->
    <h2 class="page-header col-lg-8 visible-lg">
    {{journey.title}} += {{category.title}}
    </h2>
    <!-- <img id="plus-pic" src="plusequals.png">  -->
    <div class="notes-container-global col-lg-8 col-xs-12 scroll-area" data-spy="scroll">

      <div ng-show="notes.length === 0" style="color:white;">
        <h1>What is the purpose of notes and snippets???</h1>
        <p>This the purpose of notes and snippets....</p>
      </div>

      <div class="notes">

        <div ng-repeat="note in notes" id="note-{{note.id}}" class="ind-note-container" ng-show="display(note)"  data-target="#sidebar-scroll"  data-offest="0">
                      <!-- HIDDEN SHIT TEEHEEHEEHEEHEE NO ONE KNOWS TEEHEEHEEHEE -->
            <div class="right-context-menu" >
              <ul class="note-list row">
                <li class="cell-list context-list delete-button col-xs-12" ng-click="deleteNote(note)">Delete</li>
                <li class="cell-list context-list share-button col-xs-12" >Share</li>
                <li class="cell-list context-list update-button col-xs-12">Update</li>
              </ul>
            </div>
            <!-- END HIDDEN NOTE SHIT TEEHEEHEEHEE -->
        <div class="showing-container" id="context{{note.id}}">
          <div class="note-container" id="id{note.id}}">
            <div ng-hide="editNoteFlag[{{note.id}}]" id="show-note-{{ note.id }}">
              <div class="note-head-container row">
                <h3 class="note-title col-xs-10">{{note.title}}</h3>
                <span class="note-sidebar-container glyphicon glyphicon-cog col-xs-2" ng-click="toggleMenu(note.id)"></span>
              </div>
              <h4 class="note-header">How I understand it:</h4>
              <p class="note-text"> {{note.synopsis}}</p>
              <h4 class="note-header">Code: </h4>
            <pre class="note-code" ng-bind-html="to_trusted((note.code|pretty))"></pre>
            <button class="edit-button col-xs-12" ng-click="showNoteForm(note)" ng-show="isOwner" ng-class="{active: form-show}">Edit Note</button>
            </div>
          </div>

        <div class="form-container-edit">
          <div ng-show="editNoteFlag[{{note.id}}]" id="edit-note-{{ note.id }}">
            <form ng-submit="editNote(note)">
              <h3 class="form-header col-xs-12 col-pull-12"> Title: </h3>
              <input class="col-xs-12" type="text" ng-model="editingNote.title">
              <h3 class="form-header col-xs-12">How do you understand it?: </h3>
              <textarea class="col-xs-12" ng-model="editingNote.synopsis"></textarea>
              <h3 class="form-header col-xs-12">Code: </h3>
              <div class="col-xs-12" ng-model="editingNote.code" ui-ace="{theme:'tomorrow_night_bright', useWrapMode:'true', mode: 'ruby'}" ></div>
              <div class="col-xs-12 submit-container">
                <input type="submit" value="Save Note Edits">
              </div>
            </form>
          </div>
        </div>

        <div class="snippets-container">
          <h3 class="note-title snippet-title">Snippets for {{note.title}}</h3>
          <div class="show-snippets-container row">
            <div class="single-snippet col-xs-12" ng-repeat="snippet in note.snippets" id="snip{{snippet.id}}" >
              <div class="single-snippet-content" ng-show="!toggle">
                <h4 class="note-header">Description:</h4>
                <p class="note-text">{{snippet.description}}</p>
                <h4 class="note-header">Text:</h4>

                <p class="note-text" ng-bind-html="to_trusted((snippet.text | youtube))">
                  <!-- {{snippet.text | youtube}} -->
                </p>

                <div class="dropdown">
                  <button disabled ng-show="!validUrl(snippet)" type="button" class="btn">Visit Site</button>
                  <span class="invalid-url" ng-show="!validUrl(snippet)">Invalid URL</span>
                  <div class="dropdown btn-group" ng-show="validUrl(snippet)">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                      Visit Site
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a role="menuitem" href="{{snippet.web_url}}" target="_blank">Active</a>
                      </li>
                      <li>
                        <a role="menuitem" href="{{snippet.cached_url}}" target="_blank">Cached</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <br><br>
                <p>Taken on: {{snippet.created_at | date:'medium'}};  From: {{snippet.web_url}}</p>

                <button class="edit-button col-xs-12 lighter-edit" ng-click="toggle = !toggle" ng-show="isOwner">Edit Snippet</button>
                <button class="edit-button col-xs-12 lighter-edit" ng-click="deleteSnippet(snippet)" ng-show="isOwner">Delete Snippet</button>
              </div>

              <div class="form-container-edit" ng-show="toggle">
                <form ng-submit="saveSnipEdit(note, snippet)">
                  <h3 class="form-header col-xs-12 col-pull-12"> Snippet description</h3>
                  <input class="col-xs-12" type="text" ng-model="snippet.description">
                  <h3 class="form-header col-xs-12 col-pull-12">Snippet Content</h3>
                  <textarea class="col-xs-12" ng-model="snippet.text" placeholder="copy and paste your snippet here"></textarea>
                  <h3 class="form-header col-xs-12 col-pull-12">Snippet Url:</h3>
                  <input class="col-xs-12" type="text" ng-model="snippet.web_url"></p>
                  <div class="col-xs-12 submit-container">
                    <input type="submit" value="Save snippet" ng-click="toggle = !toggle">
                  </div>
                </form>
              </div>


              </div> <!-- End of single snip div -->


              <button class="edit-button col-xs-12" ng-click="showSnipForm(note)" ng-show="isOwner">Add Snippet</button>
              <div class="form-container-edit">
                <div ng-show="visibleSnipForm[{{note.id}}]" class="snipForm">
                  <form ng-submit="saveSnip(note)">
                    <h3 class="form-header col-xs-12 col-pull-12">Snippet description</h3>
                    <input class="col-xs-12" type="text" ng-model="snippet.description">
                    <h3 class="form-header col-xs-12 col-pull-12">Snippet Content</h3>
                    <textarea class="col-xs-12" ng-model="snippet.text" placeholder="copy and paste your snippet here"></textarea>
                    <h3 class="form-header col-xs-12 col-pull-12">Snippet Url:</h3>
                    <input class="col-xs-12" ng-model="snippet.web_url">
                    <div class="col-xs-12 submit-container">
                      <input type="submit" value="Save snippet">
                    </div>
                  </form>
                </div>
              </div>

              <div class="unassigned-snippets-container col-xs-12" ng-show="isOwner && unassignedSnippets.length > 0">
                <h4 class="note-title">Unassigned Snippets:</h4>
                <div class="single-unassigned-snippet" ng-repeat="snippet in unassignedSnippets">
                  <p>{{snippet.text | limitTo:140}}...
                    <span>
                      <button ng-click="addToNote(note, snippet)">Add to Note</button>
                    </span>
                  </p>
                </div>
                <hr>
              </div>

              </div> <!-- End of show snippets div -->





              </div> <!-- End of snippets container -->
              </div> <!-- End of single note div -->
            </div> <!-- End of showing note not context menu div -->
              </div> <!-- End of div class notes -->
              </div> <!-- End of main panel -->
            </div>
