<BR><BR><BR><BR>
<div class="container-fluid row">
  <div class="sidebar col-xs-12 col-md-12 col-lg-3">
    <!-- <h4><a href="#/">Back</a></h4> -->
    <h1 class="cell-header">Categories</h1>
    <ul class="categories">
      <li ng-repeat="category in categories" id="id{{category.id}}">
        <a href="#/journeys/{{journey.id}}/categories/{{category.id}}">{{category.title}}</a>
        <button ng-click="deleteCategory(category)" value="-">
      </li>
    </ul>
    <h4 ng-click="displayForm()">New Category (click me!)</h4>
  </div>
  <h1 class="page-header" col-lg-8">Journey: {{ journey.title }}</h1>
  <div class="container">

    <form ng-show="showForm" ng-submit="createCategory()">
      <h2>New Category</h2>
      <input type="text" ng-model="category.title" placeholder="Title">
      <input type="text" ng-model="category.description" placeholder="Description"><br>
      public? <input type="checkbox" ng-model="category.public_bool"> (you can change this later)<br>
      <input type="submit" value="Create Category">
    </form>
  </div>
</div>