<div class="container-fluid row home-page-container">
  <nav class="sidebar col-xs-12 col-md-12 col-lg-3">
    <div class="breadcrumb-container row visible-lg">
      <h4 class="back-button"><a href="#/journeys">{{journey.title}}</a></h4>
      <span class="breadcrumb-carrot" id="first-carrot"> > </span>
      <h5 class="category-bread">{{category.title}}</h5>
    </div>
    <div class="sidebar-header-container col-xs-12">
      <h1 class="cell-header col-xs-12">Categories</h1>
    </div>

    <ul class="categories-list col-xs-12">
      <li ng-repeat="category in categories | orderBy:'title'" id="id{{category.id}}" class="cell-list row" ng-show="display(category)">
        <a href="#/journeys/{{journey.id}}/categories/{{category.id}}">{{category.title}}</a>
        <button class="delete-button" ng-click="deleteCategory(category)">
        <span class=" glyphicon glyphicon-remove-sign"></span>
        </button>
      </li>
    </ul>
    <h4 class="cell-list col-xs-12 cat-new-button" ng-click="displayForm()" ng-show="isOwner">New Category</h4>
    <div class="form-container-journey">
      <form  ng-show="showForm" ng-submit="createCategory()">
         <h2 class="form-header">New Category</h2>
        <input class="col-xs-12"  type="text" ng-model="category.title" placeholder="Title" required>
        <!-- <input class="col-xs-12"  type="text" ng-model="category.description" placeholder="Description" required> -->
        <span class="check">
          <input type="checkbox" ng-model="category.public_bool"><p>public?</p></span>
          <input class="col-xs-12"  type="submit" value="Create Category">
        </form>
      </div>
    </nav>
    <div class="user-home-head col-xs-12 col-lg-8 visible-lg">
      <h1 class="page-header row-head row">{{ journey.title | uppercase}}</h1>
      <!-- <div ng-show="categories.length === 0" style="color: white;"> -->
      <div class="default-content row">
        <h3>What are categories?</h3>
        <p>Break your <b>Journey</b> into <b>Categories</b> by subject. In so doing, you will provide structure to your learning process as well as stream line future referencing of the material.</p>
        <br>
        <p><b>Categories</b> will house your <b>Pages</b>. Each <b>Pages</b> will contain a variety of content.</p>
        <br>
        <h5><-- Create or browse your <b>Categories</b></h5>
        <br>

        <h4 class="cell-list col-xs-12 cat-new-button" ng-click="displayForm()" ng-show="isOwner">New Category</h4>

        <div class="download-extension-container">
          <p class="download-extension-text" style="color: #999">
            For full functionality, download the <strong>Re:Source Snippet Saver</strong>.
          </p>
          <form action="https://chrome.google.com/webstore/detail/resource-snippet-saver/pejlmdojlceajdfmajpmanmidmkekmmm" class="download-button">
            <input class="download-extension-submit btn btn-primary" type="submit" value="Download Now">
          </form>
        </div>
      </div>
    </div>
  </div>
