@keyframes toggle_context_menu_open {
  0% {transform: translateX(0%);}
  59% {transform: translateX(-21%);}
  82% {transform: translateX(-19%);}
  100% {transform: translateX(-20%);}
}
@-webkit-keyframes toggle_context_menu_open {
  0% {transform: translateX(-0%);}
  59% {transform: translateX(-21%);}
  82% {transform: translateX(-19%);}
  100% {transform: translateX(-20%);}
}

@keyframes toggle_context_menu_closed {
  0% {transform: translateX(-20%);}
  50% {transform: translateX(-21%);}
  100% {transform: translateX(0);}
}
@-webkit-keyframes toggle_context_menu_closed {
  0% {transform: translateX(-20%);}
  50% {transform: translateX(-21%);}
  100% {transform: translateX(0);}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes fadeThisOut {
  0% {opacity: 100%;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeThisOut {
  0% {opacity: 100%;}
  100% {opacity: 0;}
}
.ng-hide-add {
  -webkit-animation: fadeIn 5s infinite;
  -webkit-animation-delay: 2s;
  animation: .4s fadeIn ease;
  animation-delay: 1s;
}

.ng-hide-remove {
  
  animation: .4s fadeIn ease;
  animation-delay: 1s;
}

// menu toggles

@keyframes menuSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  89% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

























