/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@media (max-width: 767px) {
  .breakpoint-alias:before {
    content: "XS";
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .breakpoint-alias:before {
    content: "SM";
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .breakpoint-alias:before {
    content: "MD";
  }
}
@media (min-width: 1200px) {
  .breakpoint-alias:before {
    content: "LG";
  }
}

@media screen and (max-width: 1024px){

}

// @media screen



* {
  font-family:'Open Sans', sans-seriff;
  transition: all .3s ease-out;
}

.form-container {
  height: 100%;
  form.login-form {
    height: 100%;
    input {
      display: block;
      padding: 2em;
      margin-bottom: 5%;
      border: none;
      background-color: #575757;
      color: #DDDDDD;
      text-align: left;
      border-radius: 1em;
    }
    input[type="submit"]:hover {
      background-color: #95EA78;
      color: #fff;
    }
    input:focus {
      outline:none;
      box-shadow: inset 0 0 3px 2px #95EA78;
    }
  }
}

.input-container {
  display: block;
  height: 30%;
}


.navbar-left {
  margin: 0;
  li {
    padding-left: 5%;
  }
}

.navbar-right {
  margin:0;
  li {
    float: right;
  }
}

.header-login {
  text-align: center;
  margin-bottom: 5%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}