/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require google-code-prettify
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';


@media (max-width: 767px)
{
    .breakpoint-alias:before
    {
        content: 'XS';
    }
    .notes-container-global
    {
        margin-top: 5em;
        margin-left: 0;
        padding: 0;
    }
    .ind-note-container.col-xs-12 {
        margin-bottom: 1.5em;
    }

    pre.note-code.ng-binding {
        margin: 0;
    }
    .snippets-container {
        margin: 0;
    }
}
@media (min-width: 768px) and (max-width: 983px)
{
    .breakpoint-alias:before
    {
        content: 'SM';
    }
    .notes-container-global
    {
        margin-top: 5em;
        margin-left: 0;
    }
    .ind-note-container {
        margin-bottom: 1em;
        padding: .5em;
    }
    .show-snippets-container {
        margin-left: 0;
        margin-right:0;
    }
}
@media (min-width: 984px) and (max-width: 1199px)
{
    .breakpoint-alias:before
    {
        content: 'MD';
    }
    .notes-container-global
    {
        margin-left: 25%;
    }
    .ind-note-container {
        margin-bottom: 1em;
    }
}
@media (min-width: 1200px)
{
    .breakpoint-alias:before
    {
        content: 'LG';
    }
    .notes-container-global
    {
        margin-left: 25%;
    }
  
  .navbar{
    min-height: 5em;
    max-height: 7em;
    .navbar-left {
      padding: none;
    }
    ul {
      display: inline-block;
    }
  }
  .sidebar {
    position: fixed;
    margin-top: 5em;
    border: none;
    
  }
  

}

@media screen and (max-width: 1024px)
{
}

// @media screen



*
{
    font-family: 'Lato', sans-seriff;

    transition: all .3s ease-out;
}


.video {
    text-align: center;
    iframe {
    width: 60%;
    }
}

$navbar-default-bg: #0B516F;

body
{
    width: 100%;

    background-color: #333;
}

.sidebar-header-container {
      border-top: none;
    }
.view-frame
{
    background-color: #333;
}
.menu-panel-left
{
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: #111;
}

.navbar-default {
  background-color: $navbar-default-bg;
  border: none;
}

.root-container
{
    position: absolute;
    z-index: 4;

    width: 100%;
    height: 100%;

    background-color: #333333;
}

.header-login
{
    font-size: 5em;
    font-weight: 100;
}

.header-image
{
    width: 15%;
}

.col-xs-resize
{
    padding-top: 0;
    padding-bottom: 0;
}

.form-container
{
    height: 100%;
    form.login-form
    {
        // height: 100%;
        input
        {
            display: block;

            margin-bottom: 5%;
            padding: 2em;

            text-align: left;

            color: #ddd;
            border: none;
            border-radius: 1em;
            background-color: #575757;
        }
        input[type='submit']:hover
        {
            color: #fff;
            background-color: #95ea78;
        }
        input:focus
        {
            outline: none;
            box-shadow: inset 0 0 3px 2px #95ea78;
        }
    }
}

.input-container
{
    display: block;

    height: 30%;
}


.navbar-left
{
    margin: 0;
    li
    {
        padding-left: 5%;
        button
        {
            border: none;
            background-color: white;
            &:focus
            {
                outline: none;
            }
        }
    }
}



.navbar-right
{
    margin: 0;
    li
    {
        float: right;
        button
        {
            border: none;
            background-color: white;
            &:focus
            {
                outline: none;
            }
        }
    }
}

.header-login
{
    margin-bottom: 5%;

    text-align: center;
}

.col-centered
{
    float: none;

    margin: 0 auto;
}

.page-header
{
    font-weight: 100;
  letter-spacing: 3px;

    text-align: center;
    color: white;
    border: none;
}

button.edit-button.col-xs-12.lighter-edit
{
    padding-right: 1em;

    background-color: #4c4c4c;
}

.sidebar-header-container
{
    margin-bottom: 1em;
    border-bottom: 1px solid #666;
    border-top: 0;
    & > h1
    {
        display: inline-block;
        border: none;
    }
    & > h4
    {
        display: inline-block;
        float: left;

        padding-top: 1em;
    }
}

.fade.ng-enter
{
    transition: .5s linear all;

    opacity: 0;
}
.fade.ng-enter.ng-enter-active
{
    opacity: 1;
}
.navbar.navbar-default.navbar-static-top.navbar-xs.navbar-md.ng-scope
{
    position: fixed;
    width: 100%;
  
}

.active
{
    a{
        padding-left: 1em;
        color: white;
    }

}

//.sidebar.col-lg-3.visible-lg
//{
//    position: fixed;
//
//    margin-top: 5em;
//}
.page-header
{
    margin-top: 4em;
}
.ind-note-container
{
    margin-bottom: 10em;
}
.dropdown {
    padding-right: 1em;
    float: right;
    display: block;

    .btn {
        background-color: #333333;
        border-radius: 2em;
        color: white;
    }
    .invalid-url {
        display: block;
        margin-top: 5px;
        color: red;
        font-weight: 100;
        text-align: center;
    }
}

.btn-group {
    border: none;
}
.dropdown-menu {
    float: right;
    padding-right: 1em;
}
/*
BEGIN PRETTY PRINT CSS THEME
 */

pre
{
    font-family: 'Open Sans', monospace;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;

    margin-right: 5em;
    padding: 10px;

    border: none;
    background: #222;
}

.pln
{
    color: white;
}  /* plain text CHANGE TO WHITE AFTER BG FIXED*/

@media screen
{
    .str
    {
        color: #d1f1a9;
    }  /* string content */
    .kwd
    {
        color: #ebbbff;
    }  /* a keyword */
    .com
    {
        color: #7285b7;
    }  /* a comment */
    .typ
    {
        color: #bbdaff;
    }  /* a type name */
    .lit
    {
        color: #12b9cc;
    }  /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun,
    .opn,
    .clo
    {
        color: white;
    }
    .tag
    {
        color: #ff9da4;
    }  /* a markup tag name */
    .atn
    {
        color: #ffc58f;
    }  /* a markup attribute name */
    .atv
    {
        color: #9ff;
    }  /* a markup attribute value */
    .dec,
    .var
    {
        color: #12b9cc;
    }  /* a declaration; a variable name */
    .fun
    {
        color: bbdaff;
    }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection
{
    .str
    {
        color: #060;
    }
    .kwd
    {
        font-weight: bold;

        color: #006;
    }
    .com
    {
        font-style: italic;

        color: #600;
    }
    .typ
    {
        font-weight: bold;

        color: #404;
    }
    .lit
    {
        color: #12b9cc;
    }
    .pun,
    .opn,
    .clo
    {
        color: #440;
    }
    .tag
    {
        font-weight: bold;

        color: #006;
    }
    .atn
    {
        color: #404;
    }
    .atv
    {
        color: #060;
    }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9
{
    /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9
{
    /* */
}

/*
END PRETTY PRINT CSS THEME
 */

.ace_line {
  font-family: "Open-Sans", monospace;
  span {
    font-family: inherit;
  }
}

ul.note-list {
    margin-top: 6.7em;
  text-align: left;
}





.breadcrumb-container {
//  position: absolute;
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
//  margin-bottom: 1em;
  border-bottom: 1px solid #444444;
  & > * {display: inline}
  .back-button {
    margin: 0;
    padding-left: 1em;
    padding-bottom: 0;
    font-weight: 100;
    font-size: 1.25em;
    color: #337ab7;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
    #first-carrot {
      color: #337ab7;
      margin-top: 1em; 
    }
      
    .category-bread {
      margin-top: 15px;
      font-weight: 100;
      font-size: 1em;
      color: #337AB7;
      &:hover {
        cursor: default;
        color: #337ab7;
        text-decoration: none;
      }
    }
  
}

.categories-list {
  text-align: left;
}

.default-content {
  margin-left: 4em;
    margin-right: 4em;
  & > * {
    color: white;
    font-weight: 100;
    line-height: 1em;
    
  }
  p {
      font-weight: 100;
    text-align: left;
    }
  b {
    font-weight: 300;
    color: rgb(90, 204, 237);
  }
  
  h3 {
    margin-bottom: 1em;
    font-weight: lighter;
  }
}

h1.row-head {
  border-bottom: 1px solid #555555;
  padding-bottom: 1em;
  margin-left: 25%;
  margin-right: 25%;
}
