$navbar-default-bg: #0B516F;
$go-time-green: #2CB21D;
$link-blue: rgb(90, 204, 237);
$link-blue-dark: #337AB7;

.glyphicon-cog {
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.right-context-menu {
  position: absolute;
  right: 3em;
  z-index: 0;
  width: 20%;
  height: 23em;
  background-color: #353535;
  // transform: translateX(-20%);
  .note-list {
    text-align: right;
    font-weight: 100;
    height: 100%;
    font-size: 1.5em;
    margin-right: 1em;
    margin-top: 0;
    .context-list {
      margin-right: 1em;
      &:hover {
        cursor: pointer;
      }
    }
    .delete-button {
      color: $link-blue-dark;
      padding-top: 1em;
      &:hover {
        color: red;
      }
    }
    .public-button {
      color: $link-blue-dark;
      &:hover {
        color: yellow;
      }
    }
    .add-snip-button {
      color: $link-blue-dark;
      button {
        background: none;
        border:none;
        &:hover {
        color: $go-time-green;
      }
      }
      
    }
  }
}
