.glyphicon-cog {
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.right-context-menu {
  position: absolute;
  right: 3em;
  z-index: 0;
  width: 20%;
  height: 18em;
  background-color: #353535;
  // transform: translateX(-20%);
  .note-list {
    text-align: right;
    font-weight: 100;
    height: 100%;
    font-size: 1.5em;
    margin-right: 1em;
    margin-top: 0;
    .context-list {
      margin-right: 1em;
      &:hover {
        cursor: pointer;
      }
    }
    .delete-button {
      color: #337AB7;
    }
    .public-button {
      color: #337AB7;
      &:hover {
        color: yellow;
      }
    }
    .add-snip-button {
      color: #337AB7;
      button {
        background: none;
        border:none;
        &:hover {
        color: #41f22e;
      }
      }
      
    }
  }
}
