.notes-container-global
{
    z-index: 3;

    padding: 0;

    background-color: #333;
}

.note-head-container
{
    .note-sidebar-container
    {
        &:before
        {
            float: right;

            margin-top: 1em;
        }
    }
}

.note-title
{
    font-weight: 100;

    color: white;
}
.show-snippets-container
{
    margin-right: 2em;
    margin-left: 2em;
    padding: 1em;
    padding-left: 0;

    background-color: #4c4c4c;
}

.snippets-container
{
    margin-right: 2em;
    margin-left: 2em;
    padding-bottom: 3em;
}

.single-snippet-content
{
    background-color: #4c4c4c;
}

#plus-pic
{
    width: 10%;
    height: 10%;
}



.ind-note-container, .showing-container
{
    margin-bottom: 0;
    padding: 1em;

    background-color: #444;
    .note-header
    {
        font-weight: 300;

        margin-left: 1em;

        color: #999;
    }
    .note-text
    {
        font-weight: 100;

        margin-right: 5em;
        margin-left: 3em;

        color: white;
    }
    .note-code
    {
        margin-left: 3em;
    }
    .edit-button
    {
        font-size: 1.5em;
        font-weight: 100;

        float: right;

        margin-bottom: 1em;
        padding-bottom: 1em;

        color: #4cadc9;
        border: none;
        border-bottom: 1px solid #555;
        background: #4c4c4c;
        background: none;
        box-shadow: none;
        &:hover
        {
            color: rgb(90, 204, 237);
        }
    }
}

.showing-container {
    position: relative;
    z-index: 15;

}

.delete-button
{
    float: right;

    color: #666;
    border: none;
    background: none;
    box-shadow: none;
    &:hover
    {
        color: red;
    }
}

.snippet-title
{
    padding-bottom: 1em;

    text-indent: 1em;

    color: #999;
    border-bottom: 1px solid #666;
}

.form-container-edit
{
    height: 100%;
    .form-header
    {
        margin-bottom: 0;
        padding-bottom: .5em;

        text-align: left;

        color: white;
        border: none;
        &:hover
        {
            cursor: default;
        }
    }
    input,
    textarea
    {
        display: block;

        margin-bottom: .5em;
        padding: 2em;

        resize: none;
        text-align: left;

        color: #ddd;
        border: none;
        border-radius: 1em;
        background-color: #575757;
    }
    textarea
    {
        height: 10em;
    }
    input[type='submit']
    {
        float: right;

        width: 20%;
        margin-top: 2em;
        padding-top: .5em;
        padding-bottom: .5em;

        text-align: center;

        background-color: #3d9db7;
    }
    input[type='submit']:hover
    {
        color: #fff;
        background-color: #95ea78;
    }
    input:focus
    {
        outline: none;
        box-shadow: inset 0 0 3px 2px #95ea78;
    }
    .submit-container
    {
        margin-bottom: 1em;
        padding-bottom: 1em;

        border-bottom: 1px solid #555;
    }
    .check
    {
        color: white;
        & > *
        {
            font-weight: 100;

            display: inline-block;

            margin-left: 1em;
        }
    }
}

.ind-note-container {
  border: 1px solid #1C6888;
  border-radius: 1em;
}
