.notes-container-global.col-lg-8
{
    z-index: 3;

    padding: 0;
}

.note-head-container
{
    .note-sidebar-container
    {
        &:before
        {
            float: right;

            margin-top: 1em;
        }
    }
}

.note-title {
  font-weight: 100;
  color: white;
}
.show-snippets-container {
  padding: 1em;
  padding-left: 0;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #4C4C4C;
}

.single-snippet-content {
  background-color: #4C4C4C;
}

#plus-pic {
  width: 10%;
  height: 10%;
}


.ind-note-container
{
    margin-bottom: 1em;
    padding: 1em;

    border-bottom: 1px solid black;
    background-color: #444;
    .note-header
    {
        font-weight: 300;

        margin-left: 1em;

        color: #999;
    }
    .note-text
    {
        font-weight: 100;

        margin-left: 3em;

        color: white;
    }
    .note-code
    {
        margin-left: 3em;
    }
    .edit-button
    {
        font-size: 1.5em;
        font-weight: 100;

        float: right;

        margin-bottom: 1em;
        padding-bottom: 1em;
        background: #4C4C4C;
        color: #4cadc9;
        border: none;
        border-bottom: 1px solid #555;
        background: none;
        box-shadow: none;
        &:hover
        {
            color: rgb(90, 204, 237);
        }
    }
}



.snippet-title {
  border-bottom: 1px solid #666666;
  padding-bottom: 1em;
}

.form-container-edit {
    height: 100%;
    .form-header {
      color: white;
      border: none;
      text-align: left;
      padding-bottom: .5em;
      margin-bottom: 0;
      &:hover {
        cursor: default;
      }
    }
    input, textarea {
      display: block;
      padding: 2em;
      resize: none;
      border: none;
      margin-bottom: .5em;
      background-color: #575757;
      color: #DDDDDD;
      text-align: left;
      border-radius: 1em;
    }
    textarea {
      height: 10em;
    }
    input[type="submit"] {
      background-color: #3D9DB7;
      text-align: center;
      padding-top: .5em;
      padding-bottom: .5em;
      width: 20%;
      float: right;
      margin-top: 2em;
    }
    input[type="submit"]:hover {
      background-color: #95EA78;

      color: #fff;
    }
    input:focus {
      outline:none;
      box-shadow: inset 0 0 3px 2px #95EA78;
    }

    .submit-container {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #555555;
    }

    .check {
      color:white;
      & > * {
        display: inline-block;
        margin-left: 1em;
        font-weight: 100;
      }
    }
  }