$go-time-green: #2CB21D;

.cell-header {
  color: white;
//  text-indent: 1em;
  font-weight: 100;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #666666;
  border-top: none;
//  margin-top: 3em;
}

.container-fluid {
  height: 100%;
}

.active {
  background-color: #4C4C4C;
}

.download-button {
  input {
    background: none;
    font-weight: 100;
    color: rgb(90, 204, 237);
    &:hover {
      color: white;
      background-color: $go-time-green;
      border-color: $go-time-green;
    }
  }
}
