$go-time-green: #2CB21D;
.snip-date {
  float: left;
  font-weight: 300;
  margin-left: 1em;
  color: #999;
  font-size: 80%;
}

.unassigned-snippets-container {
  .single-unassigned-snippet {
    margin-left: 3em;
    text-align: justify;
    color: white;
    font-weight: 100;
    background-color: #444444;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5em;
    margin-bottom: 1em;
    text-indent: 1em;
    .unassigned-button {
      button {
        background: none;
        border: none;
        &:hover {
          color: $go-time-green;
        }
  
      }
    }
    .unassigned-date {
      float: left;
      font-size: 1em;
      color: #888888;
    }
  }
  
}

#unassigned-snip-title {
  border: none;
  margin-bottom: 1em;
}
