// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-home-head
{
    z-index: 1;
  margin-left: 25%;
  text-align: center;
}

#cat-form-head
{
    padding-top: 0;
}

h4.cell-list.col-xs-12.cat-new-button
{
    font-size: 2em;
    font-weight: 100;
    padding-top: .5em;
    color: rgb(90, 204, 237);
    &:hover
    {
        cursor: pointer;

        color: white;
    }
}

.sidebar
{
    position: fixed;
    top: 0;
    overflow-y: scroll;
    height: 100vh;

    text-align: center;
    text-indent: 0;

    .ace_editor {
        text-align: left;
    }

    background-color: #333;
    .back-button

    ul
    {
        padding: 0;

        border: none;
        border-top: none;
        li
        {
            text-align: left;

            border-top: none;
        }
    }
    #journeys-side-head
    {
        font-weight: 100;

        margin-bottom: 1em;
        padding-bottom: 1em;
        margin-top: 4em;

        text-align: center;

        color: white;
        border-bottom: 1px solid #aaa;
    }
    .cell-header
    {
        margin-bottom: 0;

        text-indent: 0;

        border: none;
    }
}

.sidebar-header-container
{
    z-index: 90;
}

.cell-list
{
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    list-style-type: none;

    border-bottom: 1px solid #666;
    a
    {
        font-size: 2em;
        font-weight: 100;

        text-decoration: none;
        text-indent: 0;

        color: rgb(90, 204, 237);
        &:link
        {
            text-decoration: none;
        }
        &:visited
        {
            text-decoration: none;

            color: rgb(90, 204, 237);
        }
        &:hover
        {
            cursor: pointer;
            text-decoration: none;

            color: white;
        }
        &:active
        {
            cursor: pointer;
            text-decoration: none;

            color: white;
        }
    }
}

.note-list
{
    padding: 0;
}

.form-header
{
    font-weight: 100;

    margin-bottom: 1em;
    padding-bottom: 1em;

    text-align: center;

    color: rgb(90, 204, 237);
    border-bottom: 1px solid #aaa;
    &:visited
    {
        color: white;
    }
    &:hover
    {
        cursor: pointer;

        color: white;
    }
    &:active
    {
        cursor: pointer;

        color: white;
    }
}

.form-header-journey
{
    font-weight: 100;

    margin-bottom: 1em;
    padding-bottom: 1em;

    text-align: center;

    color: rgb(90, 204, 237);
    color: white;
    border-bottom: 1px solid #aaa;
    input
    {
        display: block;

        width: 100%;
    }
}
.form-container-journey
{
    height: 100%;
    .form-header
    {
        padding-top: 1em;
        padding-bottom: 0;

        color: white;
        border: none;
    }
    input,
    textarea
    {
        display: block;

        margin-bottom: 5%;
        padding: 2em;

        resize: none;
        text-align: left;

        color: #ddd;
        border: none;
        border-radius: 1em;
        background-color: #575757;
    }
    textarea
    {
        height: 10em;
    }
    input[type='submit']:hover
    {
        color: #fff;
        background-color: #95ea78;
    }
    input:focus
    {
        outline: none;
        box-shadow: inset 0 0 3px 2px #95ea78;
    }
    .check
    {
        color: white;
        & > *
        {
            font-weight: 100;

            display: inline-block;

            margin-left: 1em;
        }
    }
}

.home-page-container {
  & > * {
    display: inline-block;
  }
}
