<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-collapse collapse">
    <% if logged_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li><h5 class="navbar-text" >Welcome, <%= current_user.first_name %></h5></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Logout", logout_path) %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-left">
        <li><h5 class="navbar-text"><%= link_to "Login", login_path %></h5></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><h5 class="navbar-text"><%= link_to "Join", signup_path %></h5></li>
      </ul>
    <% end %>
  </div>
</nav>
